<a href="https://colab.research.google.com/github/sinitsky96/DDBM-projA/blob/main/part1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [337]:
pip install pyspark

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: pyspark in /usr/local/lib/python3.7/dist-packages (3.2.1)
Requirement already satisfied: py4j==0.10.9.3 in /usr/local/lib/python3.7/dist-packages (from pyspark) (0.10.9.3)

In [338]:
from pyspark.sql import SparkSession
import pyspark
from pyspark.sql.functions import *
import re
from pyspark.sql import *
from pyspark.sql.types import *
from pyspark.sql.functions import col
from pyspark.sql.functions import col,from_json
import json

In [339]:
spark=SparkSession.builder.appName('Part1').getOrCreate()

In [340]:
schema = StructType([
      StructField("movie_id",IntegerType(),True), \
      StructField("genres",StringType(),True) ,\
     StructField("overview",StringType(),True) ,\
     StructField("production_companies",StringType(),True), \
     StructField("production_countries",StringType(),True), \
     StructField("release_date",StringType(),True), \
      StructField("revenue",IntegerType(),True) ,\
      StructField("spoken_languages",StringType(),True) ,\
      StructField("tagline",StringType(),True), \
     StructField("title",StringType(),True), \
     StructField("cities",StringType(),True), \
     ])

In [341]:
df_movies=spark.read.format("csv")\
  .option("mode","DROPMALFORMED")\
  .option("delimiter", ",")\
  .option("header","true")\
  .schema(schema)\
    .load("/content/drive/MyDrive/Files for DDBM/projA/movies.csv")
df_movies.show()
df_movies.count()

+--------+--------------------+--------------------+--------------------+--------------------+------------+---------+--------------------+--------------------+--------------------+--------------------+
|movie_id|              genres|            overview|production_companies|production_countries|release_date|  revenue|    spoken_languages|             tagline|               title|              cities|
+--------+--------------------+--------------------+--------------------+--------------------+------------+---------+--------------------+--------------------+--------------------+--------------------+
|     862|[{'id': 16, 'name...|Led by Woody, And...|[{'name': 'Pixar ...|[{'iso_3166_1': '...|  30/10/1995|373554033|[{'iso_639_1': 'e...|                null|           Toy Story|['Eilat', 'Tel Av...|
|    8844|[{'id': 12, 'name...|When siblings Jud...|[{'name': 'TriSta...|[{'iso_3166_1': '...|  15/12/1995|262797249|[{'iso_639_1': 'e...|Roll the dice and...|             Jumanji|['Jerusalem', 'Ti...|
|   15602|[{'id': 10749, 'n...|A family wedding ...|[{'name': 'Warner...|[{'iso_3166_1': '...|  22/12/1995|        0|[{'iso_639_1': 'e...|Still Yelling. St...|    Grumpier Old Men|['Eilat', 'Haifa'...|
|   11862|[{'id': 35, 'name...|Just when George ...|[{'name': 'Sandol...|[{'iso_3166_1': '...|  10/02/1995| 76578911|[{'iso_639_1': 'e...|Just When His Wor...|Father of the Bri...|['Haifa', 'Jerusa...|
|     949|[{'id': 28, 'name...|Obsessive master ...|[{'name': 'Regenc...|[{'iso_3166_1': '...|  15/12/1995|187436818|[{'iso_639_1': 'e...|A Los Angeles Cri...|                Heat|['Tiberias', 'Jer...|
|   11860|[{'id': 35, 'name...|An ugly duckling ...|[{'name': 'Paramo...|[{'iso_3166_1': '...|  15/12/1995|        0|[{'iso_639_1': 'f...|You are cordially...|             Sabrina|['Eilat', 'Jerusa...|
|   45325|[{'id': 28, 'name...|A mischievous you...|[{'name': 'Walt D...|[{'iso_3166_1': '...|  22/12/1995|        0|[{'iso_639_1': 'e...|The Original Bad ...|        Tom and Huck|['Haifa', 'Jerusa...|
|    9091|[{'id': 28, 'name...|International act...|[{'name': 'Univer...|[{'iso_3166_1': '...|  22/12/1995| 64350171|[{'iso_639_1': 'e...|Terror goes into ...|        Sudden Death|['Tiberias', 'Hai...|
|     710|[{'id': 12, 'name...|James Bond must u...|[{'name': 'United...|[{'iso_3166_1': '...|  16/11/1995|352194034|[{'iso_639_1': 'e...|No limits. No fea...|           GoldenEye|['Eilat', 'Tiberi...|
|    9087|[{'id': 35, 'name...|Widowed U.S. pres...|[{'name': 'Columb...|[{'iso_3166_1': '...|  17/11/1995|107879496|[{'iso_639_1': 'e...|Why can't the mos...|The American Pres...|['Haifa', 'Tel Av...|
|   12110|[{'id': 35, 'name...|When a lawyer sho...|[{'name': 'Columb...|[{'iso_3166_1': '...|  22/12/1995|        0|[{'iso_639_1': 'e...|                null|Dracula: Dead and...|['Tiberias', 'Jer...|
|   21032|[{'id': 10751, 'n...|An outcast half-w...|[{'name': 'Univer...|[{'iso_3166_1': '...|  22/12/1995| 11348324|[{'iso_639_1': 'e...|Part Dog. Part Wo...|               Balto|['Jerusalem', 'Ha...|
|   10858|[{'id': 36, 'name...|An all-star cast ...|[{'name': 'Hollyw...|[{'iso_3166_1': '...|  22/12/1995| 13681765|[{'iso_639_1': 'e...|Triumphant in Vic...|               Nixon|['Eilat', 'Haifa'...|
|    1408|[{'id': 28, 'name...|Morgan Adams and ...|[{'name': 'Le Stu...|[{'iso_3166_1': '...|  22/12/1995| 10017322|[{'iso_639_1': 'e...|The Course Has Be...|    Cutthroat Island|['Tiberias', 'Eil...|
|     524|[{'id': 18, 'name...|The life of the g...|[{'name': 'Univer...|[{'iso_3166_1': '...|  22/11/1995|116112375|[{'iso_639_1': 'e...|No one stays at t...|              Casino|['Tel Aviv', 'Eil...|
|    4584|[{'id': 18, 'name...|Rich Mr. Dashwood...|[{'name': 'Columb...|[{'iso_3166_1': '...|  13/12/1995|135000000|[{'iso_639_1': 'e...|Lose your heart a...|Sense and Sensibi...|['Haifa', 'Eilat'...|
|       5|[{'id': 80, 'name...|It's Ted the Bell...|[{'name': 'Mirama...|[{'iso_3166_1': '...|  09/12/1995|  4300000|[{'iso_639_1': 'e...|Twelve outrageous...|          Four Rooms|['Haifa', 'Eilat'...|
|    9273|[{'id': 80, 'name...|Summoned from an ...|[{'name': 'O Ente...|[{'iso_3166_1': '...|  10/11/1995|212385533|[{'iso_639_1': 'e...|New animals. New ...|Ace Ventura: When...|['Tiberias', 'Tel...|
|   11517|[{'id': 28, 'name...|A vengeful New Yo...|[{'name': 'Columb...|[{'iso_3166_1': '...|  21/11/1995| 35431113|[{'iso_639_1': 'e...|Get on, or GET OU...|         Money Train|['Eilat', 'Jerusa...|
|    1710|[{'id': 18, 'name...|An agoraphobic ps...|[{'name': 'Regenc...|[{'iso_3166_1': '...|  27/10/1995|        0|[{'iso_639_1': 'e...|One man is copyin...|             Copycat|['Tel Aviv', 'Tib...|
+--------+--------------------+--------------------+--------------------+--------------------+------------+---------+--------------------+--------------------+--------------------+--------------------+
only showing top 20 rows

45566

In [342]:
split_cols = pyspark.sql.functions.split(df_movies['cities'], ',')
df1 = df_movies.withColumn('city1', split_cols.getItem(0)) \
    .withColumn('city2', split_cols.getItem(1)) \
    .withColumn('city3', split_cols.getItem(2))\
        .withColumn('city4', split_cols.getItem(3))\
                .withColumn('city5', split_cols.getItem(4))


df1.show()

+--------+--------------------+--------------------+--------------------+--------------------+------------+---------+--------------------+--------------------+--------------------+--------------------+------------+------------+-------------+------------+-------------+
|movie_id|              genres|            overview|production_companies|production_countries|release_date|  revenue|    spoken_languages|             tagline|               title|              cities|       city1|       city2|        city3|       city4|        city5|
+--------+--------------------+--------------------+--------------------+--------------------+------------+---------+--------------------+--------------------+--------------------+--------------------+------------+------------+-------------+------------+-------------+
|     862|[{'id': 16, 'name...|Led by Woody, And...|[{'name': 'Pixar ...|[{'iso_3166_1': '...|  30/10/1995|373554033|[{'iso_639_1': 'e...|                null|           Toy Story|['Eilat', 'Tel Av...|    ['Eilat'|  'Tel Aviv'|  'Jerusalem'|    'Haifa']|         null|
|    8844|[{'id': 12, 'name...|When siblings Jud...|[{'name': 'TriSta...|[{'iso_3166_1': '...|  15/12/1995|262797249|[{'iso_639_1': 'e...|Roll the dice and...|             Jumanji|['Jerusalem', 'Ti...|['Jerusalem'|  'Tiberias'|     'Eilat']|        null|         null|
|   15602|[{'id': 10749, 'n...|A family wedding ...|[{'name': 'Warner...|[{'iso_3166_1': '...|  22/12/1995|        0|[{'iso_639_1': 'e...|Still Yelling. St...|    Grumpier Old Men|['Eilat', 'Haifa'...|    ['Eilat'|     'Haifa'|  'Tel Aviv']|        null|         null|
|   11862|[{'id': 35, 'name...|Just when George ...|[{'name': 'Sandol...|[{'iso_3166_1': '...|  10/02/1995| 76578911|[{'iso_639_1': 'e...|Just When His Wor...|Father of the Bri...|['Haifa', 'Jerusa...|    ['Haifa'| 'Jerusalem'|      'Eilat'|  'Tel Aviv'|  'Tiberias']|
|     949|[{'id': 28, 'name...|Obsessive master ...|[{'name': 'Regenc...|[{'iso_3166_1': '...|  15/12/1995|187436818|[{'iso_639_1': 'e...|A Los Angeles Cri...|                Heat|['Tiberias', 'Jer...| ['Tiberias'| 'Jerusalem'|      'Eilat'|     'Haifa'|  'Tel Aviv']|
|   11860|[{'id': 35, 'name...|An ugly duckling ...|[{'name': 'Paramo...|[{'iso_3166_1': '...|  15/12/1995|        0|[{'iso_639_1': 'f...|You are cordially...|             Sabrina|['Eilat', 'Jerusa...|    ['Eilat'| 'Jerusalem'|   'Tel Aviv'|     'Haifa'|  'Tiberias']|
|   45325|[{'id': 28, 'name...|A mischievous you...|[{'name': 'Walt D...|[{'iso_3166_1': '...|  22/12/1995|        0|[{'iso_639_1': 'e...|The Original Bad ...|        Tom and Huck|['Haifa', 'Jerusa...|    ['Haifa'| 'Jerusalem'|   'Tel Aviv'|    'Eilat']|         null|
|    9091|[{'id': 28, 'name...|International act...|[{'name': 'Univer...|[{'iso_3166_1': '...|  22/12/1995| 64350171|[{'iso_639_1': 'e...|Terror goes into ...|        Sudden Death|['Tiberias', 'Hai...| ['Tiberias'|     'Haifa'|   'Tel Aviv'|    'Eilat']|         null|
|     710|[{'id': 12, 'name...|James Bond must u...|[{'name': 'United...|[{'iso_3166_1': '...|  16/11/1995|352194034|[{'iso_639_1': 'e...|No limits. No fea...|           GoldenEye|['Eilat', 'Tiberi...|    ['Eilat'|  'Tiberias'|     'Haifa']|        null|         null|
|    9087|[{'id': 35, 'name...|Widowed U.S. pres...|[{'name': 'Columb...|[{'iso_3166_1': '...|  17/11/1995|107879496|[{'iso_639_1': 'e...|Why can't the mos...|The American Pres...|['Haifa', 'Tel Av...|    ['Haifa'|  'Tel Aviv'|      'Eilat'|  'Tiberias'| 'Jerusalem']|
|   12110|[{'id': 35, 'name...|When a lawyer sho...|[{'name': 'Columb...|[{'iso_3166_1': '...|  22/12/1995|        0|[{'iso_639_1': 'e...|                null|Dracula: Dead and...|['Tiberias', 'Jer...| ['Tiberias'| 'Jerusalem'|  'Tel Aviv']|        null|         null|
|   21032|[{'id': 10751, 'n...|An outcast half-w...|[{'name': 'Univer...|[{'iso_3166_1': '...|  22/12/1995| 11348324|[{'iso_639_1': 'e...|Part Dog. Part Wo...|               Balto|['Jerusalem', 'Ha...|['Jerusalem'|     'Haifa'|      'Eilat'|  'Tel Aviv'|  'Tiberias']|
|   10858|[{'id': 36, 'name...|An all-star cast ...|[{'name': 'Hollyw...|[{'iso_3166_1': '...|  22/12/1995| 13681765|[{'iso_639_1': 'e...|Triumphant in Vic...|               Nixon|['Eilat', 'Haifa'...|    ['Eilat'|     'Haifa'|  'Tiberias']|        null|         null|
|    1408|[{'id': 28, 'name...|Morgan Adams and ...|[{'name': 'Le Stu...|[{'iso_3166_1': '...|  22/12/1995| 10017322|[{'iso_639_1': 'e...|The Course Has Be...|    Cutthroat Island|['Tiberias', 'Eil...| ['Tiberias'|     'Eilat'| 'Jerusalem']|        null|         null|
|     524|[{'id': 18, 'name...|The life of the g...|[{'name': 'Univer...|[{'iso_3166_1': '...|  22/11/1995|116112375|[{'iso_639_1': 'e...|No one stays at t...|              Casino|['Tel Aviv', 'Eil...| ['Tel Aviv'|     'Eilat'|     'Haifa']|        null|         null|
|    4584|[{'id': 18, 'name...|Rich Mr. Dashwood...|[{'name': 'Columb...|[{'iso_3166_1': '...|  13/12/1995|135000000|[{'iso_639_1': 'e...|Lose your heart a...|Sense and Sensibi...|['Haifa', 'Eilat'...|    ['Haifa'|     'Eilat'| 'Jerusalem']|        null|         null|
|       5|[{'id': 80, 'name...|It's Ted the Bell...|[{'name': 'Mirama...|[{'iso_3166_1': '...|  09/12/1995|  4300000|[{'iso_639_1': 'e...|Twelve outrageous...|          Four Rooms|['Haifa', 'Eilat'...|    ['Haifa'|     'Eilat'|   'Tel Aviv'| 'Jerusalem'|  'Tiberias']|
|    9273|[{'id': 80, 'name...|Summoned from an ...|[{'name': 'O Ente...|[{'iso_3166_1': '...|  10/11/1995|212385533|[{'iso_639_1': 'e...|New animals. New ...|Ace Ventura: When...|['Tiberias', 'Tel...| ['Tiberias'|  'Tel Aviv'|     'Eilat']|        null|         null|
|   11517|[{'id': 28, 'name...|A vengeful New Yo...|[{'name': 'Columb...|[{'iso_3166_1': '...|  21/11/1995| 35431113|[{'iso_639_1': 'e...|Get on, or GET OU...|         Money Train|['Eilat', 'Jerusa...|    ['Eilat'| 'Jerusalem'|   'Tel Aviv'|    'Haifa']|         null|
|    1710|[{'id': 18, 'name...|An agoraphobic ps...|[{'name': 'Regenc...|[{'iso_3166_1': '...|  27/10/1995|        0|[{'iso_639_1': 'e...|One man is copyin...|             Copycat|['Tel Aviv', 'Tib...| ['Tel Aviv'|  'Tiberias'|     'Eilat']|        null|         null|
+--------+--------------------+--------------------+--------------------+--------------------+------------+---------+--------------------+--------------------+--------------------+--------------------+------------+------------+-------------+------------+-------------+
only showing top 20 rows

In [343]:
from pyspark.sql.types import NullType
def cleanCities(city):
  if city==None:
    return None
  flag=False
  cities=["Tel Aviv","Eilat","Tiberius","Jerusalem","Haifa"]
  for c in cities:
    if c in city:
      city=c
      flag = True
  if flag==False:
    city=None
  return city
CityUDF=udf(lambda z:cleanCities(z),StringType())

In [344]:
for i in range(1,6):
 df1= df1.withColumn(f"City{i}", CityUDF(f"City{i}"))
df1=df1.drop("cities")
df1.show()

+--------+--------------------+--------------------+--------------------+--------------------+------------+---------+--------------------+--------------------+--------------------+---------+---------+---------+---------+---------+
|movie_id|              genres|            overview|production_companies|production_countries|release_date|  revenue|    spoken_languages|             tagline|               title|    City1|    City2|    City3|    City4|    City5|
+--------+--------------------+--------------------+--------------------+--------------------+------------+---------+--------------------+--------------------+--------------------+---------+---------+---------+---------+---------+
|     862|[{'id': 16, 'name...|Led by Woody, And...|[{'name': 'Pixar ...|[{'iso_3166_1': '...|  30/10/1995|373554033|[{'iso_639_1': 'e...|                null|           Toy Story|    Eilat| Tel Aviv|Jerusalem|    Haifa|     null|
|    8844|[{'id': 12, 'name...|When siblings Jud...|[{'name': 'TriSta...|[{'iso_3166_1': '...|  15/12/1995|262797249|[{'iso_639_1': 'e...|Roll the dice and...|             Jumanji|Jerusalem|     null|    Eilat|     null|     null|
|   15602|[{'id': 10749, 'n...|A family wedding ...|[{'name': 'Warner...|[{'iso_3166_1': '...|  22/12/1995|        0|[{'iso_639_1': 'e...|Still Yelling. St...|    Grumpier Old Men|    Eilat|    Haifa| Tel Aviv|     null|     null|
|   11862|[{'id': 35, 'name...|Just when George ...|[{'name': 'Sandol...|[{'iso_3166_1': '...|  10/02/1995| 76578911|[{'iso_639_1': 'e...|Just When His Wor...|Father of the Bri...|    Haifa|Jerusalem|    Eilat| Tel Aviv|     null|
|     949|[{'id': 28, 'name...|Obsessive master ...|[{'name': 'Regenc...|[{'iso_3166_1': '...|  15/12/1995|187436818|[{'iso_639_1': 'e...|A Los Angeles Cri...|                Heat|     null|Jerusalem|    Eilat|    Haifa| Tel Aviv|
|   11860|[{'id': 35, 'name...|An ugly duckling ...|[{'name': 'Paramo...|[{'iso_3166_1': '...|  15/12/1995|        0|[{'iso_639_1': 'f...|You are cordially...|             Sabrina|    Eilat|Jerusalem| Tel Aviv|    Haifa|     null|
|   45325|[{'id': 28, 'name...|A mischievous you...|[{'name': 'Walt D...|[{'iso_3166_1': '...|  22/12/1995|        0|[{'iso_639_1': 'e...|The Original Bad ...|        Tom and Huck|    Haifa|Jerusalem| Tel Aviv|    Eilat|     null|
|    9091|[{'id': 28, 'name...|International act...|[{'name': 'Univer...|[{'iso_3166_1': '...|  22/12/1995| 64350171|[{'iso_639_1': 'e...|Terror goes into ...|        Sudden Death|     null|    Haifa| Tel Aviv|    Eilat|     null|
|     710|[{'id': 12, 'name...|James Bond must u...|[{'name': 'United...|[{'iso_3166_1': '...|  16/11/1995|352194034|[{'iso_639_1': 'e...|No limits. No fea...|           GoldenEye|    Eilat|     null|    Haifa|     null|     null|
|    9087|[{'id': 35, 'name...|Widowed U.S. pres...|[{'name': 'Columb...|[{'iso_3166_1': '...|  17/11/1995|107879496|[{'iso_639_1': 'e...|Why can't the mos...|The American Pres...|    Haifa| Tel Aviv|    Eilat|     null|Jerusalem|
|   12110|[{'id': 35, 'name...|When a lawyer sho...|[{'name': 'Columb...|[{'iso_3166_1': '...|  22/12/1995|        0|[{'iso_639_1': 'e...|                null|Dracula: Dead and...|     null|Jerusalem| Tel Aviv|     null|     null|
|   21032|[{'id': 10751, 'n...|An outcast half-w...|[{'name': 'Univer...|[{'iso_3166_1': '...|  22/12/1995| 11348324|[{'iso_639_1': 'e...|Part Dog. Part Wo...|               Balto|Jerusalem|    Haifa|    Eilat| Tel Aviv|     null|
|   10858|[{'id': 36, 'name...|An all-star cast ...|[{'name': 'Hollyw...|[{'iso_3166_1': '...|  22/12/1995| 13681765|[{'iso_639_1': 'e...|Triumphant in Vic...|               Nixon|    Eilat|    Haifa|     null|     null|     null|
|    1408|[{'id': 28, 'name...|Morgan Adams and ...|[{'name': 'Le Stu...|[{'iso_3166_1': '...|  22/12/1995| 10017322|[{'iso_639_1': 'e...|The Course Has Be...|    Cutthroat Island|     null|    Eilat|Jerusalem|     null|     null|
|     524|[{'id': 18, 'name...|The life of the g...|[{'name': 'Univer...|[{'iso_3166_1': '...|  22/11/1995|116112375|[{'iso_639_1': 'e...|No one stays at t...|              Casino| Tel Aviv|    Eilat|    Haifa|     null|     null|
|    4584|[{'id': 18, 'name...|Rich Mr. Dashwood...|[{'name': 'Columb...|[{'iso_3166_1': '...|  13/12/1995|135000000|[{'iso_639_1': 'e...|Lose your heart a...|Sense and Sensibi...|    Haifa|    Eilat|Jerusalem|     null|     null|
|       5|[{'id': 80, 'name...|It's Ted the Bell...|[{'name': 'Mirama...|[{'iso_3166_1': '...|  09/12/1995|  4300000|[{'iso_639_1': 'e...|Twelve outrageous...|          Four Rooms|    Haifa|    Eilat| Tel Aviv|Jerusalem|     null|
|    9273|[{'id': 80, 'name...|Summoned from an ...|[{'name': 'O Ente...|[{'iso_3166_1': '...|  10/11/1995|212385533|[{'iso_639_1': 'e...|New animals. New ...|Ace Ventura: When...|     null| Tel Aviv|    Eilat|     null|     null|
|   11517|[{'id': 28, 'name...|A vengeful New Yo...|[{'name': 'Columb...|[{'iso_3166_1': '...|  21/11/1995| 35431113|[{'iso_639_1': 'e...|Get on, or GET OU...|         Money Train|    Eilat|Jerusalem| Tel Aviv|    Haifa|     null|
|    1710|[{'id': 18, 'name...|An agoraphobic ps...|[{'name': 'Regenc...|[{'iso_3166_1': '...|  27/10/1995|        0|[{'iso_639_1': 'e...|One man is copyin...|             Copycat| Tel Aviv|     null|    Eilat|     null|     null|
+--------+--------------------+--------------------+--------------------+--------------------+------------+---------+--------------------+--------------------+--------------------+---------+---------+---------+---------+---------+
only showing top 20 rows

In [345]:
def jformat(cell):
  tokens=cell.split("}")
  result=""
  for t in tokens:
    search = re.search("'name': '(.*)'", t)
    if search!= None:
      result+=","+search.group(1)
  return(result[1:])
def numberOfComma(cell):
  c= cell.count(",")
  return c+1
  
jUDF=udf(lambda z:jformat(z),StringType())
cUDF=udf(lambda z:numberOfComma(z),IntegerType())

df2= df1.withColumn("genres", jUDF("genres"))
df2.show()
df3 = df2.withColumn("genrees", cUDF("genres"))
df3.sort(df3.genrees.desc())

+--------+--------------------+--------------------+--------------------+--------------------+------------+---------+--------------------+--------------------+--------------------+---------+---------+---------+---------+---------+
|movie_id|              genres|            overview|production_companies|production_countries|release_date|  revenue|    spoken_languages|             tagline|               title|    City1|    City2|    City3|    City4|    City5|
+--------+--------------------+--------------------+--------------------+--------------------+------------+---------+--------------------+--------------------+--------------------+---------+---------+---------+---------+---------+
|     862|Animation,Comedy,...|Led by Woody, And...|[{'name': 'Pixar ...|[{'iso_3166_1': '...|  30/10/1995|373554033|[{'iso_639_1': 'e...|                null|           Toy Story|    Eilat| Tel Aviv|Jerusalem|    Haifa|     null|
|    8844|Adventure,Fantasy...|When siblings Jud...|[{'name': 'TriSta...|[{'iso_3166_1': '...|  15/12/1995|262797249|[{'iso_639_1': 'e...|Roll the dice and...|             Jumanji|Jerusalem|     null|    Eilat|     null|     null|
|   15602|      Romance,Comedy|A family wedding ...|[{'name': 'Warner...|[{'iso_3166_1': '...|  22/12/1995|        0|[{'iso_639_1': 'e...|Still Yelling. St...|    Grumpier Old Men|    Eilat|    Haifa| Tel Aviv|     null|     null|
|   11862|              Comedy|Just when George ...|[{'name': 'Sandol...|[{'iso_3166_1': '...|  10/02/1995| 76578911|[{'iso_639_1': 'e...|Just When His Wor...|Father of the Bri...|    Haifa|Jerusalem|    Eilat| Tel Aviv|     null|
|     949|Action,Crime,Dram...|Obsessive master ...|[{'name': 'Regenc...|[{'iso_3166_1': '...|  15/12/1995|187436818|[{'iso_639_1': 'e...|A Los Angeles Cri...|                Heat|     null|Jerusalem|    Eilat|    Haifa| Tel Aviv|
|   11860|      Comedy,Romance|An ugly duckling ...|[{'name': 'Paramo...|[{'iso_3166_1': '...|  15/12/1995|        0|[{'iso_639_1': 'f...|You are cordially...|             Sabrina|    Eilat|Jerusalem| Tel Aviv|    Haifa|     null|
|   45325|Action,Adventure,...|A mischievous you...|[{'name': 'Walt D...|[{'iso_3166_1': '...|  22/12/1995|        0|[{'iso_639_1': 'e...|The Original Bad ...|        Tom and Huck|    Haifa|Jerusalem| Tel Aviv|    Eilat|     null|
|    9091|Action,Adventure,...|International act...|[{'name': 'Univer...|[{'iso_3166_1': '...|  22/12/1995| 64350171|[{'iso_639_1': 'e...|Terror goes into ...|        Sudden Death|     null|    Haifa| Tel Aviv|    Eilat|     null|
|     710|Adventure,Action,...|James Bond must u...|[{'name': 'United...|[{'iso_3166_1': '...|  16/11/1995|352194034|[{'iso_639_1': 'e...|No limits. No fea...|           GoldenEye|    Eilat|     null|    Haifa|     null|     null|
|    9087|Comedy,Drama,Romance|Widowed U.S. pres...|[{'name': 'Columb...|[{'iso_3166_1': '...|  17/11/1995|107879496|[{'iso_639_1': 'e...|Why can't the mos...|The American Pres...|    Haifa| Tel Aviv|    Eilat|     null|Jerusalem|
|   12110|       Comedy,Horror|When a lawyer sho...|[{'name': 'Columb...|[{'iso_3166_1': '...|  22/12/1995|        0|[{'iso_639_1': 'e...|                null|Dracula: Dead and...|     null|Jerusalem| Tel Aviv|     null|     null|
|   21032|Family,Animation,...|An outcast half-w...|[{'name': 'Univer...|[{'iso_3166_1': '...|  22/12/1995| 11348324|[{'iso_639_1': 'e...|Part Dog. Part Wo...|               Balto|Jerusalem|    Haifa|    Eilat| Tel Aviv|     null|
|   10858|       History,Drama|An all-star cast ...|[{'name': 'Hollyw...|[{'iso_3166_1': '...|  22/12/1995| 13681765|[{'iso_639_1': 'e...|Triumphant in Vic...|               Nixon|    Eilat|    Haifa|     null|     null|     null|
|    1408|    Action,Adventure|Morgan Adams and ...|[{'name': 'Le Stu...|[{'iso_3166_1': '...|  22/12/1995| 10017322|[{'iso_639_1': 'e...|The Course Has Be...|    Cutthroat Island|     null|    Eilat|Jerusalem|     null|     null|
|     524|         Drama,Crime|The life of the g...|[{'name': 'Univer...|[{'iso_3166_1': '...|  22/11/1995|116112375|[{'iso_639_1': 'e...|No one stays at t...|              Casino| Tel Aviv|    Eilat|    Haifa|     null|     null|
|    4584|       Drama,Romance|Rich Mr. Dashwood...|[{'name': 'Columb...|[{'iso_3166_1': '...|  13/12/1995|135000000|[{'iso_639_1': 'e...|Lose your heart a...|Sense and Sensibi...|    Haifa|    Eilat|Jerusalem|     null|     null|
|       5|        Crime,Comedy|It's Ted the Bell...|[{'name': 'Mirama...|[{'iso_3166_1': '...|  09/12/1995|  4300000|[{'iso_639_1': 'e...|Twelve outrageous...|          Four Rooms|    Haifa|    Eilat| Tel Aviv|Jerusalem|     null|
|    9273|Crime,Comedy,Adve...|Summoned from an ...|[{'name': 'O Ente...|[{'iso_3166_1': '...|  10/11/1995|212385533|[{'iso_639_1': 'e...|New animals. New ...|Ace Ventura: When...|     null| Tel Aviv|    Eilat|     null|     null|
|   11517| Action,Comedy,Crime|A vengeful New Yo...|[{'name': 'Columb...|[{'iso_3166_1': '...|  21/11/1995| 35431113|[{'iso_639_1': 'e...|Get on, or GET OU...|         Money Train|    Eilat|Jerusalem| Tel Aviv|    Haifa|     null|
|    1710|      Drama,Thriller|An agoraphobic ps...|[{'name': 'Regenc...|[{'iso_3166_1': '...|  27/10/1995|        0|[{'iso_639_1': 'e...|One man is copyin...|             Copycat| Tel Aviv|     null|    Eilat|     null|     null|
+--------+--------------------+--------------------+--------------------+--------------------+------------+---------+--------------------+--------------------+--------------------+---------+---------+---------+---------+---------+
only showing top 20 rows

DataFrame[movie_id: int, genres: string, overview: string, production_companies: string, production_countries: string, release_date: string, revenue: int, spoken_languages: string, tagline: string, title: string, City1: string, City2: string, City3: string, City4: string, City5: string, genrees: int]

In [349]:
split_cols = pyspark.sql.functions.split(df2['genres'], ',')
df3 = df2.withColumn('genre1', split_cols.getItem(0)) \
              .withColumn('genre2', split_cols.getItem(1)) \
              .withColumn('genre3', split_cols.getItem(2))\
              .withColumn('genre4', split_cols.getItem(3))\
              .withColumn('genre5', split_cols.getItem(4))\
              .withColumn('genre6', split_cols.getItem(5))\
              .withColumn('genre7', split_cols.getItem(6))\
              .withColumn('genre8', split_cols.getItem(7))\
 




df3=df3.drop("genres")
df3.show()

+--------+--------------------+--------------------+--------------------+------------+---------+--------------------+--------------------+--------------------+---------+---------+---------+---------+---------+---------+---------+---------+--------+------+------+------+------+
|movie_id|            overview|production_companies|production_countries|release_date|  revenue|    spoken_languages|             tagline|               title|    City1|    City2|    City3|    City4|    City5|   genre1|   genre2|   genre3|  genre4|genre5|genre6|genre7|genre8|
+--------+--------------------+--------------------+--------------------+------------+---------+--------------------+--------------------+--------------------+---------+---------+---------+---------+---------+---------+---------+---------+--------+------+------+------+------+
|     862|Led by Woody, And...|[{'name': 'Pixar ...|[{'iso_3166_1': '...|  30/10/1995|373554033|[{'iso_639_1': 'e...|                null|           Toy Story|    Eilat| Tel Aviv|Jerusalem|    Haifa|     null|Animation|   Comedy|   Family|    null|  null|  null|  null|  null|
|    8844|When siblings Jud...|[{'name': 'TriSta...|[{'iso_3166_1': '...|  15/12/1995|262797249|[{'iso_639_1': 'e...|Roll the dice and...|             Jumanji|Jerusalem|     null|    Eilat|     null|     null|Adventure|  Fantasy|   Family|    null|  null|  null|  null|  null|
|   15602|A family wedding ...|[{'name': 'Warner...|[{'iso_3166_1': '...|  22/12/1995|        0|[{'iso_639_1': 'e...|Still Yelling. St...|    Grumpier Old Men|    Eilat|    Haifa| Tel Aviv|     null|     null|  Romance|   Comedy|     null|    null|  null|  null|  null|  null|
|   11862|Just when George ...|[{'name': 'Sandol...|[{'iso_3166_1': '...|  10/02/1995| 76578911|[{'iso_639_1': 'e...|Just When His Wor...|Father of the Bri...|    Haifa|Jerusalem|    Eilat| Tel Aviv|     null|   Comedy|     null|     null|    null|  null|  null|  null|  null|
|     949|Obsessive master ...|[{'name': 'Regenc...|[{'iso_3166_1': '...|  15/12/1995|187436818|[{'iso_639_1': 'e...|A Los Angeles Cri...|                Heat|     null|Jerusalem|    Eilat|    Haifa| Tel Aviv|   Action|    Crime|    Drama|Thriller|  null|  null|  null|  null|
|   11860|An ugly duckling ...|[{'name': 'Paramo...|[{'iso_3166_1': '...|  15/12/1995|        0|[{'iso_639_1': 'f...|You are cordially...|             Sabrina|    Eilat|Jerusalem| Tel Aviv|    Haifa|     null|   Comedy|  Romance|     null|    null|  null|  null|  null|  null|
|   45325|A mischievous you...|[{'name': 'Walt D...|[{'iso_3166_1': '...|  22/12/1995|        0|[{'iso_639_1': 'e...|The Original Bad ...|        Tom and Huck|    Haifa|Jerusalem| Tel Aviv|    Eilat|     null|   Action|Adventure|    Drama|  Family|  null|  null|  null|  null|
|    9091|International act...|[{'name': 'Univer...|[{'iso_3166_1': '...|  22/12/1995| 64350171|[{'iso_639_1': 'e...|Terror goes into ...|        Sudden Death|     null|    Haifa| Tel Aviv|    Eilat|     null|   Action|Adventure| Thriller|    null|  null|  null|  null|  null|
|     710|James Bond must u...|[{'name': 'United...|[{'iso_3166_1': '...|  16/11/1995|352194034|[{'iso_639_1': 'e...|No limits. No fea...|           GoldenEye|    Eilat|     null|    Haifa|     null|     null|Adventure|   Action| Thriller|    null|  null|  null|  null|  null|
|    9087|Widowed U.S. pres...|[{'name': 'Columb...|[{'iso_3166_1': '...|  17/11/1995|107879496|[{'iso_639_1': 'e...|Why can't the mos...|The American Pres...|    Haifa| Tel Aviv|    Eilat|     null|Jerusalem|   Comedy|    Drama|  Romance|    null|  null|  null|  null|  null|
|   12110|When a lawyer sho...|[{'name': 'Columb...|[{'iso_3166_1': '...|  22/12/1995|        0|[{'iso_639_1': 'e...|                null|Dracula: Dead and...|     null|Jerusalem| Tel Aviv|     null|     null|   Comedy|   Horror|     null|    null|  null|  null|  null|  null|
|   21032|An outcast half-w...|[{'name': 'Univer...|[{'iso_3166_1': '...|  22/12/1995| 11348324|[{'iso_639_1': 'e...|Part Dog. Part Wo...|               Balto|Jerusalem|    Haifa|    Eilat| Tel Aviv|     null|   Family|Animation|Adventure|    null|  null|  null|  null|  null|
|   10858|An all-star cast ...|[{'name': 'Hollyw...|[{'iso_3166_1': '...|  22/12/1995| 13681765|[{'iso_639_1': 'e...|Triumphant in Vic...|               Nixon|    Eilat|    Haifa|     null|     null|     null|  History|    Drama|     null|    null|  null|  null|  null|  null|
|    1408|Morgan Adams and ...|[{'name': 'Le Stu...|[{'iso_3166_1': '...|  22/12/1995| 10017322|[{'iso_639_1': 'e...|The Course Has Be...|    Cutthroat Island|     null|    Eilat|Jerusalem|     null|     null|   Action|Adventure|     null|    null|  null|  null|  null|  null|
|     524|The life of the g...|[{'name': 'Univer...|[{'iso_3166_1': '...|  22/11/1995|116112375|[{'iso_639_1': 'e...|No one stays at t...|              Casino| Tel Aviv|    Eilat|    Haifa|     null|     null|    Drama|    Crime|     null|    null|  null|  null|  null|  null|
|    4584|Rich Mr. Dashwood...|[{'name': 'Columb...|[{'iso_3166_1': '...|  13/12/1995|135000000|[{'iso_639_1': 'e...|Lose your heart a...|Sense and Sensibi...|    Haifa|    Eilat|Jerusalem|     null|     null|    Drama|  Romance|     null|    null|  null|  null|  null|  null|
|       5|It's Ted the Bell...|[{'name': 'Mirama...|[{'iso_3166_1': '...|  09/12/1995|  4300000|[{'iso_639_1': 'e...|Twelve outrageous...|          Four Rooms|    Haifa|    Eilat| Tel Aviv|Jerusalem|     null|    Crime|   Comedy|     null|    null|  null|  null|  null|  null|
|    9273|Summoned from an ...|[{'name': 'O Ente...|[{'iso_3166_1': '...|  10/11/1995|212385533|[{'iso_639_1': 'e...|New animals. New ...|Ace Ventura: When...|     null| Tel Aviv|    Eilat|     null|     null|    Crime|   Comedy|Adventure|    null|  null|  null|  null|  null|
|   11517|A vengeful New Yo...|[{'name': 'Columb...|[{'iso_3166_1': '...|  21/11/1995| 35431113|[{'iso_639_1': 'e...|Get on, or GET OU...|         Money Train|    Eilat|Jerusalem| Tel Aviv|    Haifa|     null|   Action|   Comedy|    Crime|    null|  null|  null|  null|  null|
|    1710|An agoraphobic ps...|[{'name': 'Regenc...|[{'iso_3166_1': '...|  27/10/1995|        0|[{'iso_639_1': 'e...|One man is copyin...|             Copycat| Tel Aviv|     null|    Eilat|     null|     null|    Drama| Thriller|     null|    null|  null|  null|  null|  null|
+--------+--------------------+--------------------+--------------------+------------+---------+--------------------+--------------------+--------------------+---------+---------+---------+---------+---------+---------+---------+---------+--------+------+------+------+------+
only showing top 20 rows

In [361]:
def cleanstrng(cell):
  c=cell.replace("[","")
  c=c.replace("]","")
  c=c.replace("'", '"')
  return c
cleanUDF=udf(lambda z:cleanstrng(z),StringType())
df4 = df3.withColumn("spoken_languages", cleanUDF("spoken_languages"))



df4=df4.select('movie_id','overview',json_tuple(df4.spoken_languages,'iso_639_1')).show()

+--------+--------------------+----+
|movie_id|            overview|  c0|
+--------+--------------------+----+
|     862|Led by Woody, And...|  en|
|    8844|When siblings Jud...|  en|
|   15602|A family wedding ...|  en|
|   31357|"Cheated on, mist...|null|
|   11862|Just when George ...|  en|
|     949|Obsessive master ...|  en|
|   11860|An ugly duckling ...|  fr|
|   45325|A mischievous you...|  en|
|    9091|International act...|  en|
|     710|James Bond must u...|  en|
|    9087|Widowed U.S. pres...|  en|
|   12110|When a lawyer sho...|  en|
|   21032|An outcast half-w...|  en|
|   10858|An all-star cast ...|  en|
|    1408|Morgan Adams and ...|  en|
|     524|The life of the g...|  en|
|    4584|Rich Mr. Dashwood...|  en|
|       5|It's Ted the Bell...|  en|
|    9273|Summoned from an ...|  en|
|   11517|A vengeful New Yo...|  en|
+--------+--------------------+----+
only showing top 20 rows